<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplemobiletools.calendar"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name='android.permission.WAKE_LOCK'/>
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="text/x-vcalendar"/>
                <data android:mimeType="text/calendar"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="time/epoch"/>
                <data android:host="com.android.calendar"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetMonthlyConfigureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetListConfigureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.simplemobiletools.commons.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.CustomizationActivity"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.LicenseActivity"
            android:label="@string/third_party_licences"
            android:parentActivityName="com.simplemobiletools.commons.activities.AboutActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.FAQActivity"
            android:label="@string/frequently_asked_questions"
            android:parentActivityName="com.simplemobiletools.commons.activities.AboutActivity"/>

        <activity
            android:name=".activities.EventActivity"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.INSERT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/event"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"/>

        <activity
            android:name=".activities.ManageEventTypesActivity"
            android:label="@string/event_types"
            android:parentActivityName=".activities.SettingsActivity"/>

        <activity
            android:name=".activities.SnoozeReminderActivity"
            android:theme="@style/Theme.Transparent"/>

        <receiver
            android:name=".helpers.MyWidgetMonthlyProvider"
            android:icon="@drawable/img_widget_monthly_preview"
            android:label="@string/widget_monthly">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_monthly_info"/>
        </receiver>

        <receiver
            android:name=".helpers.MyWidgetListProvider"
            android:icon="@drawable/img_widget_list_preview"
            android:label="@string/widget_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_list_info"/>
        </receiver>

        <service
            android:name=".services.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".services.SnoozeService"/>

        <receiver android:name=".receivers.NotificationReceiver"/>

        <receiver android:name=".receivers.CalDAVSyncReceiver"/>

        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
