<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <queries>
        <package android:name="com.simplemobiletools.contacts.pro.debug" />
        <package android:name="com.simplemobiletools.contacts.pro" />
    </queries>

    <queries>
        <package android:name="com.simplemobiletools.calendar.debug" />
        <package android:name="com.simplemobiletools.calendar" />
    </queries>

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="application/ics" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="time/epoch" />
                <data android:host="com.android.calendar" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetMonthlyConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetListConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetDateConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.simplemobiletools.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.simplemobiletools.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.EventActivity"
            android:exported="true"
            android:label="@string/new_event"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TaskActivity"
            android:exported="false"
            android:label="@string/new_task"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.SelectTimeZoneActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:parentActivityName=".activities.EventActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ManageEventTypesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/event_types"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.SnoozeReminderActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".activities.EventTypePickerActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".helpers.MyWidgetMonthlyProvider"
            android:exported="true"
            android:icon="@drawable/img_widget_monthly_preview"
            android:label="@string/widget_monthly">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_monthly_info" />
        </receiver>

        <receiver
            android:name=".helpers.MyWidgetListProvider"
            android:exported="true"
            android:icon="@drawable/img_widget_list_preview"
            android:label="@string/widget_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_list_info" />
        </receiver>

        <receiver
            android:name=".helpers.MyWidgetDateProvider"
            android:exported="true"
            android:icon="@drawable/img_widget_date_preview"
            android:label="@string/widget_todays_date">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_date_info" />
        </receiver>

        <service
            android:name=".services.WidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".services.WidgetServiceEmpty"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".services.SnoozeService" />
        <service android:name=".services.MarkCompletedService" />

        <service
            android:name=".jobs.CalDAVUpdateListener"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false" />

        <receiver
            android:name=".receivers.CalDAVSyncReceiver"
            android:exported="false" />

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.AutomaticBackupReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity-alias
            android:name=".activities.SplashActivity.Red"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:roundIcon="@mipmap/ic_launcher_red"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Pink"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pink"
            android:roundIcon="@mipmap/ic_launcher_pink"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Purple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_purple"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Deep_purple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_deep_purple"
            android:roundIcon="@mipmap/ic_launcher_deep_purple"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Indigo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_indigo"
            android:roundIcon="@mipmap/ic_launcher_indigo"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Blue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue"
            android:roundIcon="@mipmap/ic_launcher_blue"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Light_blue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light_blue"
            android:roundIcon="@mipmap/ic_launcher_light_blue"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Cyan"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cyan"
            android:roundIcon="@mipmap/ic_launcher_cyan"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Teal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:roundIcon="@mipmap/ic_launcher_teal"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Green"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:roundIcon="@mipmap/ic_launcher_green"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Light_green"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light_green"
            android:roundIcon="@mipmap/ic_launcher_light_green"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Lime"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_lime"
            android:roundIcon="@mipmap/ic_launcher_lime"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Yellow"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_yellow"
            android:roundIcon="@mipmap/ic_launcher_yellow"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Amber"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amber"
            android:roundIcon="@mipmap/ic_launcher_amber"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Orange"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Deep_orange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_deep_orange"
            android:roundIcon="@mipmap/ic_launcher_deep_orange"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Brown"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_brown"
            android:roundIcon="@mipmap/ic_launcher_brown"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Blue_grey"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue_grey"
            android:roundIcon="@mipmap/ic_launcher_blue_grey"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Grey_black"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_grey_black"
            android:roundIcon="@mipmap/ic_launcher_grey_black"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
